
/* tabela de testes:
min 375: green / CELULARES
min 768: yellow / TABLETS
min 1024: purple / DESKTOP

*/

@media screen and (min-width: 375px) {
    
    * {
        margin: 0;
        padding: 0;
    }

    body {
        max-width: 100%;
    }

    ::-webkit-scrollbar {
        width: 0px;
    }

    #container {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    #conteudo {
        display: flex;
        flex-flow: column wrap;
        background-color: #1C1C1C;
        max-height: 50%; 
        border-radius: 8px;
        max-width: 100%;
    }
    

    .conta {
        display: flex;
        min-width: 100%;
        background-color: green;
    }

    .container-card {
        flex-direction: row;
        flex-wrap: wrap;
        min-height: 13%;
        align-items: center;
        row-gap: 20px;
    }


    .card {
        display: flex;
        flex-flow: column wrap;
        background-color: rgb(36, 36, 36);
        max-width: 170px;
        min-width: 168px;
        min-height: 260px;
        border-radius: 5px;
    }

    .titulo-card {
        margin-top: 10px;
        margin-bottom: 8px;
    }
    
    footer {
        height: 22vh;
        max-width: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .botao-footer{
        width: 250px;
    }

}

/* @media screen and (min-width: 480px) {
    
    * {
        margin: 0;
        padding: 0;
    }

    body {
        max-width: 100%;
    }

    ::-webkit-scrollbar {
        width: 0px;
    }

    #container {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    #conteudo {
        display: flex;
        flex-flow: column wrap;
        background-color: #1C1C1C;
        max-height: 50%; 
        border-radius: 8px;
        min-width: 100%;
    }
    

    .conta {
        display: flex;
        max-width: 100%;
        background-color: aqua;
    }

    .container-card {
        flex-direction: row;
        flex-wrap: wrap;
        min-height: 13%;
        align-items: center;
        row-gap: 20px;
    }


    .card {
        display: flex;
        flex-flow: column wrap;
        background-color: rgb(36, 36, 36);
        max-width: 170px;
        min-width: 168px;
        min-height: 260px;
        border-radius: 5px;
        margin-left: 10px;
    }

    .titulo-card {
        margin-top: 10px;
        margin-bottom: 8px;
    }

    footer {
        height: 22vh;
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .botao-footer{
        min-width: 300px;
    }
    
} */

@media screen and (min-width: 768px) {

    .conta {
        display: flex;
        background-color: yellow;
    }
}

@media screen and (min-width: 1024px) {

    
    .conta {
        display: flex;
        background-color: purple;
    }
}